.displayweather{
    background-color: rgb(94, 94, 94);
    width: 100%;
    color: white;
}
.colDetail {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  .rowheadDetail{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(53, 198, 255);
    color: rgb(61, 61, 61);
      
  }
  .tableDetail{
    border-collapse: collapse;
    width: 100%;
    

  }
  .rowDetail{
      background-color: rgb(53, 198, 255);
      color: rgb(61, 61, 61);
      
  }
  
  .weather-icon{
    width: 150px;
    height: 150px;
    margin-top: -50px !important;
  }
  .temp{
    font-size: 50px;
  }
  .cardtitle{
    font-size: 40px;
  }
  .cardsubtitle{
    font-size: 25px;
  }
  .weather-description{
    font-size: 25px;
  }